.contactLink{
    height: 70px;
    width: 70px;
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 8px;

    > img{
        height: 70px;
        width: 70px;
        background-color: rgb(52, 52, 52);
        border-radius: 15px;
        transition: background-color 0.5s, transform 0.5s;
    }
    > img:hover{
        background-color: lightgray;
        transform: translateY(-5px);
    }
}