:root {
    --offset: 1rem;
    --subTitles: #7d1e2f;
    --titles: #b22326;
    --color3: #bbb8b5;
    --color4: #6d625c;
    --color5: #252527;

    --dark-blue: #171D2B;
    --medium-blue: #242E49;
    --gray: #384358;
    --beige: #FFA856;
    --red: #B5182B;
    --dark-red: #54192D;

}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
}

.column{
    padding: 0;
}

.principalPage{
    padding: 0;
    background-color: var(--dark-blue);
}

.principalContent{
    padding-left: 1.5rem;
    padding-right: 1.8rem;
    /* margin: 0; */
}

h2{
    color: var(--red);
}

h3{
    color: var(--dark-red);
}

ul{
    padding: 0;
}

li{
    list-style-type: none;
}


.skillsContent{
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
    margin-top: 1rem;
    max-width: 50rem;
    justify-content: start;
}

/*HEADER*/
.header{
    display: flex;
    justify-content: center;
    background-color: var(--medium-blue);
}

.contentName{
    display: flex;
    flex-wrap: wrap;
    font-size: 50px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: white;
}

.myName{
    cursor: default;
}

.myName-color{
    cursor: default;
    color: var(--titles);
    transition: all 0.3s;

    /*PROBAR QUE SE CAMBIE SOLO*/
}
.firstLetter{
    margin-left: 15px;
}

.myTitle{
    font-size: 30px;
    color: var(--beige);
}

/*SIDEBAR */
.sidebar{
    height: 100%;
    background-color: var(--beige);

    ul{
        margin: 0;
        padding-top: 5px;
        padding-bottom: 5px;
        padding-left: 3px;
        cursor: pointer;
        >p{
            margin: 0;
        }
    }
    ul:hover{
        background-color: var(--dark-blue);
        transition: all 0.6s ease;
        >p{
            color: var(--red);
        }
    }
}


/*FOOTER*/
.footer{
    display: flex;
    justify-content: center;
    background-color: var(--medium-blue);
    padding-bottom: 15px;
}

.footerContactData{
    color: var(--color3);
    padding-bottom: 5px;
    padding-top: 5px;
    >h3{
        font-size: 32px;
    }
}