* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
}

.principalPage{
    height: 100%;
    background-color: rgb(47, 47, 47);
    padding-top: 1rem;
    padding-bottom: 15px;
    padding-left: 5rem;
    padding-right: 5rem;
}

h2{
    color: rgb(188, 123, 123);
}

ul{
    padding: 0;
}

li{
    list-style-type: none;
}


.footerContactData{
    color: white;
    padding-bottom: 5px;
    padding-top: 5px;
    >h3{
        font-size: 32px;
    }
}

.myName{
    font-size: 50px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: white;
}

.myTitle{
    font-size: 30px;
    color: rgb(152, 152, 152);
}



.skillsContent{
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
    margin-top: 1rem;
    max-width: 50rem;
    justify-content: center;
}

/* .footer{
} */