* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.principalPage{
    height: 900px;
    background-color: rgb(47, 47, 47);
}

.headerPrincipalData{
    display: grid;
    justify-content: center;
    align-items: start;
}

.headerContactData{
    color: white;
}

.myName{
    font-size: 50px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: white;
}

.myTitle{
    font-size: 30px;
    color: rgb(152, 152, 152);
}

.skillsContent{
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
    margin-top: 5rem;
    max-width: 50rem;
    justify-content: center;
}